<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.example.lesson03.dao.ReviewDAO">
	<select id="selectReview" parameterType="int" resultType="com.example.lesson03.model.Review">
		SELECT
			`id`
			, `storeId`
			, `menu`
			, `userName`
			, `point`
			, `review`
			, `createdAt`
			, `updatedAt`
		FROM
			`new_review`
		WHERE
			`id` = #{id}
	</select>
	<!-- select타입은 resultType이 있지만 insert는 resultType이 없다. -->
	<insert id="insertReview" parameterType="com.example.lesson03.model.Review">
		INSERT INTO `new_review`
		(
			`storeId`
			, `menu`
			, `userName`
			, `point`
			, `review`
			, `createdAt`
			, `updatedAt`
		)
		VALUES
		(
			#{storeId}
			, #{menu}
			, #{userName}
			, #{point}
			, #{review}
			, NOW()
			, NOW()
		)
	</insert>
	<!--  @param("")가 있다면 parameterType은 무조건 map -->
	<insert id="insertReviewAsField" parameterType="map">
		INSERT INTO `new_review`
		(
			`storeId`
			, `menu`
			, `userName`
			, `point`
			, `review`
			, `createdAt`
			, `updatedAt`
		)
		VALUES
		(
			#{storeId}
			, #{menu}
			, #{userName}
			, #{point}
			, #{review}
			, NOW()
			, NOW()
		)
	</insert>
	<update id="updateReviewById" parameterType="map">
		UPDATE `new_review`
		SET
			`review` = #{review}
			, `updatedAt` = NOW()
		WHERE
			`id` = #{id}
	</update>
	
	<delete id="deleteReviewById" parameterType="int">
		DELETE
		FROM
			`new_review`
		WHERE
			`id` = #{id}
	</delete>
</mapper>